.card-text1{
  display:none;
}
.card-title1{
  font-family: cursive;
}
#sas{
  font-family: cursive;
}
#jazz{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-text2{
  display:none;
}
.card-text3{
  display:none;
}
.card-text4{
  display:none;
}
.card-text5{
  display:none;
}
.card-text6{
  display:none;
}
.card-text7{
  display:none;
}
.card-text8{
  display:none;
}
.card-text9{
  display:none;
}
.card-text10{
  display:none;
}
.card-text11{
  display:none;
}
.card-text12{
  display:none;
}
.card-text13{
  display:none;
}
.card-text14{
  display:none;
}
.card-text15{
  display:none;
}
.card-text16{
  display:none;
}
.card-text17{
  display:none;
}
.card-text18{
  display:none;
}
.card-title2{
  font-family: cursive;
}
.card-title3{
  font-family: cursive;
}
.card-title4{
  font-family: cursive;
}
.card-title5{
  font-family: cursive;
}
.card-title6{
  font-family: cursive;
}
.card-title7{
  font-family: cursive;
}
.card-title8{
  font-family: cursive;
}
.card-title9{
  font-family: cursive;
}
.card-title10{
  font-family: cursive;
}
.card-title11{
  font-family: cursive;
}
.card-title12{
  font-family: cursive;
}
.card-title13{
  font-family: cursive;
}
.card-title14{
  font-family: cursive;
}
.card-title15{
  font-family: cursive;
}
.card-title16{
  font-family: cursive;
}
.card-title17{
  font-family: cursive;
}
.card-title18{
  font-family: cursive;
}
